<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85425974-1', 'auto');
  ga('send', 'pageview');

</script>

{% extends 'web/base.html' %}
{% load staticfiles %}
{% load url from future %}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

{% block title %}Wearables{% endblock %}

{% block current_page %}{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}active{% endblock %}
{% block page3 %}{% endblock %}

{% block content %}
    
    <div class="row" xmlns="http://www.w3.org/1999/html">
			<div class="col-lg-12">
				<div class="panel panel-default">

					<div class="panel-heading">Wearable Management</div>
					<div class="panel-body">


{#                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" style="float: right">Assign Wearable</button>#}

                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#assignWearable" style="float: right">Assign Wearable</button>

                         <!-- #modal 1 -->
                        <div id="assignWearable" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Assign Wearable</h4>
                              </div>

                              <div class="modal-body">
                               <form action="/update_assignment/" method="post">{% csrf_token %}
                                  <fieldset>
                                  <div class="form-group">
                                        <label>Select Alert Band ID</label>
                                        <select class="form-control" name="wearableName" type="text">

                                            <script>
                                                wearableNamesArrayLength = {{wearableNames|safe}}.length
                                                for (i = 0; i < wearableNamesArrayLength; i++) {
                                                    document.write("<option>" + {{wearableNames|safe}}[i][0] + "</option>");
                                                }
                                            </script>
                                        </select>
                                  </div>

                                  <div class="form-group">
                                    <label>Enter Caregiver's Name</label>
								    <input class="form-control" placeholder="Name" name="assignee" type="text">
                                  </div>

                                  <input type="submit" class="btn btn-primary" value="Assign"/>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                                  </fieldset>
                               </form>
                              </div>
                            </div>
                          </div>
                        </div>


{#                        <!-- #modal 2 -->#}
{##}
{#                        <div class="modal fade" id="confirm">#}
{#                          <div class="modal-dialog" style="width: 30%">#}
{#                            <div class="modal-content">#}
{##}
{##}
{#                              <div class="modal-body">#}
{#                                <br><br>#}
{#                                <p><center>Select <b>Save Changes</b> to assign wearable</center></p><br>#}
{#                              </div>#}
{#                              <div class="modal-footer">#}
{#                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">Save Changes</button>#}
{#                                   <button type="button" a href="#assignWearable" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Back</button>#}
{#                              </div>#}
{#                            </div><!-- /.modal-content -->#}
{#                          </div><!-- /.modal-dialog -->#}
{#                        </div><!-- /.modal -->#}



                        <br>
                        <br>
						<table id="data-table" class="table" data-toggle="table" data-show-refresh="false" data-sort-name="Sensor ID" data-sort-order="asd">
						    <thead>
						    <tr>
                                <th>Wearable ID</th>
                                <th>Caregiver</th>
                                <th>Usage</th>
                                <th>Location</th>
                                <th>Battery</th>
                                <th>Actions</th>
                                <th>Last Updated</th>
						    </tr>
						    </thead>
						</table>

                        {% if successMessage %}
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

                            <div class="alert alert-success" role="alertdialog">
                                <strong><center> {{ successMessage }} </center></strong>
                            </div>
                        </div>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>

      <script>

     var data = {{ dataSet|safe }}

          $('#data-table').DataTable( {
            data: data,
              "searching": false,
              paging: false
            } );

          $('.alert-success').delay(3000).fadeOut();

      $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';

						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });

						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];

						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }


      </script>
    <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}


