 {#Importing required css and js files using CDN#}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.js"></script>

 {#Inheriting base page layout from base.html#}
{% extends 'web/base.html' %}

{#Load files from static folder#}
{% load staticfiles %}
{% load url from future %}

{#Dynamically replacing the page name on base.html using variable name 'title' #}
{% block title %}Wearables{% endblock %}

{#Dynamically showing content of the page using variable name 'content' #}
{% block content %}
    
    <div class="row" xmlns="http://www.w3.org/1999/html">
			<div class="col-lg-12">
				<div class="panel panel-default">

					<div class="panel-heading">Wearable Management</div>
					<div class="panel-body">

                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#assignWearable" style="float: right">Assign Wearable</button>

                         <!-- #modal 1 -->
                        <div id="assignWearable" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Assign Wearable</h4>
                              </div>

                              <div class="modal-body">
                               <form action="/update_assignment/" method="post">{% csrf_token %}
                                  <fieldset>
                                  <div class="form-group">
                                        <label>Select Alert Band ID</label>
                                        <select class="form-control" name="wearableName" type="text">

                                            <script>
                                                wearableNamesArrayLength = {{wearableNames|safe}}.length
                                                for (i = 0; i < wearableNamesArrayLength; i++) {
                                                    document.write("<option>" + {{wearableNames|safe}}[i][0] + "</option>");
                                                }
                                            </script>
                                        </select>
                                  </div>

                                  <div class="form-group">
                                    <label>Enter Caregiver's Name</label>
								    <input class="form-control" placeholder="Name" name="assignee" type="text">
                                  </div>

                                  <input type="submit" class="btn btn-primary" value="Assign"/>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                                  </fieldset>
                               </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        <br>
                        <br>
						<table id="data-table" class="table" data-toggle="table" data-show-refresh="false" data-sort-name="Sensor ID" data-sort-order="asd">
						    <thead>
						    <tr>
                                <th>Wearable ID</th>
                                <th>Caregiver</th>
                                <th>Usage</th>
                                <th>Location</th>
                                <th>Battery</th>
                                <th>Actions</th>
                                <th>Last Updated</th>
						    </tr>
						    </thead>
						</table>


                        {#Display message if wearable is assigned successfully#}
                        {% if successMessage %}
                            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

                                <div class="alert alert-success" role="alertdialog">
                                    <strong><center> {{ successMessage }} </center></strong>
                                </div>
                            </div>
                        {% endif %}

					</div>
				</div>
			</div>
		</div>

      <script>

{# --- Populate data into table using javascript --- #}
     var data = {{ dataSet|safe }}

          $('#data-table').DataTable( {
            data: data,
              "searching": false,
              paging: false
            } );

{#Javascript to fade alert message after 3 seconds#}
          $('.alert-success').delay(3000).fadeOut();

{#Javascript to dropdown settings menu upon hover#}
      $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';

						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });

						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];

						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }
      </script>

<script src="{% static 'js/jquery-3.1.0.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}


