{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.js"></script>
<script src="{% static 'js/lumino.glyphs.js' %}"></script>


<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<!--[Body]-->
<body>



    <div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
                <img src="{% static "img/logo-shcs.png" %}" alt="Logo" style="display: block; padding-top: 20px; margin-left: auto; margin-right: auto" />
				<div class="panel-body">
                    {% if message %}
                    <div class="panel-body">
                        <div class="alert bg-danger" role="alert" style="display: block; padding-top: 20px; margin-left: auto; margin-right: auto" align="center">
                            {{ message }}
                        </div>
                    </div>
                 </div>
                {% endif %}
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->




    <!--[Javascript]-->

    <script>
        function myFunction() {
            alert("Someone is trying to stand!");
        }
    </script>


    <script type="text/javascript">
      var timeout = setTimeout("location.reload(true);",5000);
      function resetTimeout() {
        clearTimeout(timeout);
        timeout = setTimeout("location.reload(true);",5000);
      }
    </script>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/chart.min.js' %}"></script>
	<script src="{% static 'js/chart-data.js' %}"></script>
	<script src="{% static 'js/easypiechart.js' %}"></script>
	<script src="{% static 'js/easypiechart-data.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>



</body>
</html>
