{% extends 'web/base.html' %}
{% load staticfiles %}
{% load url from future %}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

{% block title %}Alert Bands{% endblock %}

{% block current_page %}{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}active{% endblock %}
{% block page3 %}{% endblock %}

{% block content %}

    {{ wearableNames|safe }}


        <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">

					<div class="panel-heading">Alert Bands Management</div>
					<div class="panel-body">


{#                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" style="float: right">Assign Wearable</button>#}

                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#assignWearable" style="float: right">Assign Wearable</button>

                         <!-- #modal 1 -->
                        <div id="assignWearable" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Assign Wearable</h4>
                              </div>

                              <div class="modal-body">

                                  <div class="form-group">
									<label>Select Alert Band ID</label>
									<select class="form-control">
										<option>Option 1</option>
										<option>Option 2</option>
										<option>Option 3</option>
										<option>Option 4</option>
									</select>
                                  </div>

                                  <div class="form-group">
									<label>Enter Caregiver's Name</label>
									<input class="form-control" placeholder="Anna Tan">
                                  </div>

                              </div>

                              <div class="modal-footer">
                                  <button type="submit" a href="#confirm" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">Assign</button>
                                  <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              </div>

                            </div>

                          </div>
                        </div>

                        <!-- #modal 2 -->
                        <div class="modal fade" id="confirm">
                          <div class="modal-dialog" style="width: 30%">
                            <div class="modal-content">



                              <div class="modal-body">
                                <br><br>
                                <p><center>Select <b>Save Changes</b> to assign wearable</center></p><br>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">Save Changes</button>
                                   <button type="submit" a href="#assignWearable" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Back</button>

                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->



                        <br>
                        <br>
						<table id="data-table" class="table" data-toggle="table" data-show-refresh="false" data-sort-name="Sensor ID" data-sort-order="asd">
						    <thead>
						    <tr>
                                <th>Sensor ID</th>
                                <th>Usage</th>
                                <th>Location</th>
                                <th>Battery</th>
                                <th>Actions</th>
                                <th>Last Updated</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div>

      <script>

     var data = {{ dataSet|safe }}

          $('#data-table').DataTable( {
            data: data,
              "searching": false,
              paging: false
            } );


      $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';

						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });

						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];

						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }


      </script>

{% endblock %}

