{% extends "web/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}
Sensor Management
{% endblock %}

{% block display_title %} Overview {% endblock %}

{% block current_page %}active{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}{% endblock %}
{% block page3 %}{% endblock %}


{% block content %}

		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">
                                <script>
                                alertCounter = {{ alertCounter | safe }}
                                document.write(alertCounter);
                                </script>
                            </div>
							<div class="text-muted">Alerts Today</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">T.B.D</div>
							<div class="text-muted">Alerts This Week</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">
                                <script>
                                    detectorCounter = {{ detectorCounter | safe }}
                                    document.write(detectorCounter);
                                </script>
                            </div>
							<div class="text-muted">Detectors ON</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">
                                <script>
                                    wearableCounter = {{ wearableCounter | safe }}
                                    document.write(wearableCounter);
                                </script>
                            </div>
							<div class="text-muted">Alert Bands ON</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

{##}
{#      <div class="row">#}
{#			<div class="col-lg-12">#}
{#				<div class="panel panel-default">#}
{##}
{#					<div class="panel-heading">Newsfeed</div>#}
{#					<div class="panel-body">#}
{##}
{#						<table id="data-table" class="fixed" data-toggle="table" data-show-refresh="true" data-sort-name="date" data-sort-order=desc">#}
{#						        <col width="15%" />#}
{#                                <col width="50%" />#}
{#                                <col width="20%" />#}
{##}
{#                            <thead>#}
{#						    <tr>#}
{#                                <th>type</th>#}
{#                                <th>message</th>#}
{#                                <th>date</th>#}
{##}
{#						    </tr>#}
{#						    </thead>#}
{#						</table>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}


      <div class="panel panel-default chat" >
					<div class="panel-heading" id="accordion"><svg class="glyph stroked two-messages"><use xlink:href="#stroked-two-messages"></use></svg>Newsfeed</div>

					<div class="panel-body">
                        <script>
                            data = {{ dataSet|safe }}
                            newsfeedArrayLength = data.length
                            for (i = 0; i < newsfeedArrayLength; i++) {

                                {% load static %}
                                {% static "" as baseUrl %}

                                document.write("<ul>"
                                        + "<li class=\"left clearfix\">"
                                        + "<span class=\"chat-img pull-left\">"
                                        + "<img src=\""+"{{ baseUrl }}"+"img/"+ data[i][0] +".svg\" style=\"display: block; margin-top: 0px; margin-left:15px; margin-right:0px; margin-bottom:0px; width: 35px; height: 30px;\"  />"
                                        + "</span>"
                                        + "<div class=\"chat-body clearfix\">"
                                        + "<div class=\"header\">"
                                        + "<strong class=\"primary-font\">"
                                        + data[i][0]
                                        + "</strong>"
                                        + "<small class=\"text-muted\">"
                                        + data[i][2]
                                        + "</small>"
                                        + "</div>"
                                        + "<p>"
                                        + data[i][1]
                                        + "</p></div></li></ul>");
                            }
                        </script>

					</div>
      </div>

    <script>


    {#     var dataSet = [[ "Sensor-usage", "Sensor 1 is switched on", "27-07-2016 3:33 PM"], ["Sensor-usage", "There is a alert triggered by sensor 1", "27-07-2016 4:44 PM"]]#}
    var data = {{ dataSet|safe }}
            $('#data-table').DataTable( {
                data: data,
                "searching": false,
                paging: false,

                fnDrawCallback: function() {
                    $("#data-table thead").remove();
                }

            } );



    </script>


{% endblock %}
