<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
<link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

{% extends "web/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}
Data Analysis
{% endblock %}

{% block display_title %} Data Analysis {% endblock %}

{% block current_page %}{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}{% endblock %}
{% block page4 %}active{% endblock %}

{% block content %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/chart-data.js' %}"></script>

<br>
<br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Data Analysis</div>
                <div class="panel-body">

                    <form action="/update_assignment/" method="post">{% csrf_token %}
                          <fieldset>
                          <div class="form-group col-lg-12">
                              <label class="col-sm-1">Select</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="data_title" type="text">

        {#                                    <script>#}
        {#                                        wearableNamesArrayLength = {{wearableNames|safe}}.length#}
        {#                                        for (i = 0; i < wearableNamesArrayLength; i++) {#}
        {#                                            document.write("<option>" + {{wearableNames|safe}}[i][0] + "</option>");#}
        {#                                        }#}
        {#                                    </script>#}
                                            <option selected="selected">Select data title</option>
                                            <option value="0">Highest Number of Alert</option>
                                            <option value="1">Total Number of Alert</option>
                                            <option value="2">Highest Number of Incident Reported</option>
                                            <option value="3">Total Number of Incident Reported</option>
                                            <option value="4">Incident Reports</option>
                                        </select>
                                    </div>


                                    <label class="col-sm-1">Filter</label>
                                    <div class="col-sm-3">
                                        <select onchange="iftimeslot(this);" placeholder="please select" class="form-control" name="data_type" type="text">
                                        <option selected="selected">Select a period</option>
                                        <option value="0">By month</option>
                                        <option value="1">By Week</option>
                                        <option value="2">By Day</option>
                                        <option value="3">Timeslot</option>
                                        </select>
                                     </div>

                          </div>

{#----------------------#}

                       <div id="select_date1" class="form-group col-lg-12" style="display: none;">

                              <label class="col-sm-1" for="start_date">From</label>
                                    <div class="col-md-3">
{#                                      <input name="start_date" type="date" placeholder="" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                             <label class="col-md-1" for="end_date">To</label>
                                    <div class="col-md-3">
{#                                        <input name="end_date" type="date" placeholder="" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                       </div>
{#----------------------#}

                      <div id="select_date2" class="form-group col-lg-12" style="display: none;">

                              <label class="col-sm-1" for="start_date">From</label>
                                    <div class="col-md-3">
{#                                      <input name="start_date" type="date" placeholder="" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker3'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                             <label class="col-md-1" for="end_date">To</label>
                                    <div class="col-md-3">
{#                                        <input name="end_date" type="date" placeholder="" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker4'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                       </div>

{#----------------------#}
                      <div id="select_date3" class="form-group col-lg-12" style="display: none;">

                              <label class="col-sm-1" for="start_date">From</label>
                                    <div class="col-md-3">
{#                                      <input name="start_date" type="date" placeholder="" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker5'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                             <label class="col-md-1" for="end_date">To</label>
                                    <div class="col-md-3">
{#                                        <input name="end_date" type="date" placeholder="" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker6'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                       </div>


                        <div id="select_time" class="form-group col-lg-12" style="display: none;">
                            <label class="col-sm-1" for="start_date">Start Time</label>
                                <div class="col-md-3">
{#                                    <input name="start_time" type="date" placeholder="start time" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker7'>
                                            <input name="start_time" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>

                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker7').datetimepicker({
                                                    format: 'LT',
                                                    stepping: 30
                                                });
                                            });
                                        </script>



                                </div>

                            <label class="col-md-1" for="end_date">End Time</label>
                                <div class="col-md-3">
{#                                    <input name="end_time" type="date" placeholder="end time" class="form-control">#}
                                        <div class='input-group date' id='datetimepicker8'>
                                            <input name="start_time" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>

                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker8').datetimepicker({
                                                    format: 'LT',
                                                    stepping: 30
                                                });
                                            });
                                        </script>

                                </div>
                        </div>




                          <input type="submit" class="btn btn-primary btn-md pull-right" value="Filter"/>

                          </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Bar Chart</div>
					<div class="panel-body">

						<div class="canvas-wrapper">
							<canvas class="main-chart" id="alerts" height="400" width="800"></canvas>
                            <script>
                             var barData = {
{#                                labels : ["January","February","March","April","May","June"],#}
{#                                datasets : [#}
{#                                    {#}
{#                                        data : [456,479,324,569,702,600]#}
{#                                    },#}
{#                                    {#}
{#                                        data : [364,504,605,400,345,320]#}
{#                                    }#}
{##}
{#                                ]#}
                                 labels : ["January","February","March","April","May","June","July","July","July","July","July","July"],
                                    datasets : [

                                        {
                                            fillColor : "rgba(48, 164, 255, 0.2)",
                                            strokeColor : "rgba(48, 164, 255, 0.8)",
                                            highlightFill : "rgba(48, 164, 255, 0.75)",
                                            highlightStroke : "rgba(48, 164, 255, 1)",
                                            data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                                        }
                                    ]
                            }
                             var alerts = document.getElementById("alerts").getContext("2d");
                             new Chart(alerts).Bar(barData);

{#                                var pieData = [#}
{#                                    {#}
{#                                        value: 20,#}
{#                                        color:"#878BB6"#}
{#                                    },#}
{#                                    {#}
{#                                        value : 40,#}
{#                                        color : "#4ACAB4"#}
{#                                    },#}
{#                                    {#}
{#                                        value : 10,#}
{#                                        color : "#FF8153"#}
{#                                    },#}
{#                                    {#}
{#                                        value : 30,#}
{#                                        color : "#FFEA88"#}
{#                                    }#}
{#                                ];#}
{#                                // Get the context of the canvas element we want to select#}
{#                                var countries= document.getElementById("countries").getContext("2d");#}
{#                                new Chart(countries).Pie(pieData);#}


                            </script>

						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
    </div>

    <script>

    </script>

     <script>
        function iftimeslot(that) {

            if(that.value == "0"){

                document.getElementById("select_date1").style.display = "block";
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        viewMode: 'months',
                        format: 'MM/YYYY',
                    });
                    $('#datetimepicker2').datetimepicker({
                        viewMode: 'months',
                        format: 'MM/YYYY',
                        useCurrent: false //Important!
                    });

                    $("#datetimepicker1").on("dp.change", function (e) {
                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker2").on("dp.change", function (e) {
                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                    });

                });

            }else {
                document.getElementById("select_date1").style.display = "none";
            }

            if(that.value == "1"){
                document.getElementById("select_date2").style.display = "block";
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                       format: 'DD/MM/YYYY',
                       daysOfWeekDisabled:[0,2,3,4,5,6]
                    });
                    $('#datetimepicker4').datetimepicker({
                        format: 'DD/MM/YYYY',
                        daysOfWeekDisabled:[0,1,2,3,4,6],
                        useCurrent: false //Important!
                    });

                    $("#datetimepicker3").on("dp.change", function (e) {
                    $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker4").on("dp.change", function (e) {
                    $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
                    });

                });

            }else {
                document.getElementById("select_date2").style.display = "none";
            }

            if (that.value == "3") {
{#                alert("check");#}
                document.getElementById("select_date3").style.display = "block";
                document.getElementById("select_time").style.display = "block";
                $(function () {
                    $('#datetimepicker5').datetimepicker({
                       format: 'DD/MM/YYYY',
                    });
                    $('#datetimepicker6').datetimepicker({
                        format: 'DD/MM/YYYY',
                        useCurrent: false //Important!
                    });

                    $("#datetimepicker5").on("dp.change", function (e) {
                    $('#datetimepicker6').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker6").on("dp.change", function (e) {
                    $('#datetimepicker5').data("DateTimePicker").maxDate(e.date);
                    });
                });

            } else {
                document.getElementById("select_date3").style.display = "none";
                document.getElementById("select_time").style.display = "none";
            }

        }
    </script>

{#    <script src="{% static 'js/easypiechart.js' %}"></script>#}
{#    <script src="{% static 'js/easypiechart-data.js' %}"></script>#}
{#    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>#}
{#	<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>#}
{#    <script src="{% static 'js/bootstrap-table.js' %}"></script>#}

{% endblock %}