{#Importing required css and js files using CDN#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>

{#Load files from static folder#}
{% extends "web/base.html" %}
{% load staticfiles %}
{% load url from future %}

{#Page Title#}
{% block title %}
Data Analysis
{% endblock %}

{#Navigations Variablesr#}
{% block display_title %} Data Analysis {% endblock %}
{% block current_page %}{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}{% endblock %}
{% block page3 %}active{% endblock %}
{% block page4 %}{% endblock %}
{% block page5 %}{% endblock %}

{#Page content#}
{% block content %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/chart-data.js' %}"></script>
<link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet">

<br>
<br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Data Analysis</div>
                <div class="panel-body">

                    <form action="/export/" method="post">{% csrf_token %}
                          <fieldset>

                          {# -------------- Divider for first 2 fields --------------#}
                          <div class="form-group col-lg-12">

                              {# ---'Show Data' Dropdown Field ---#}
                              <label class="col-sm-2">Show Data For</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="data_title"  id="data_title" type="text" >
                                            <option selected="selected">Select data title</option>
                                            <option value="Highest Number of Alert">Highest Number of Alert</option>
                                            <option value="Total Number of Alert">Total Number of Alert</option>
                                            <option value="Highest Number of Incident Reported">Highest Number of Incident Reported</option>
                                            <option value="Total Number of Incident Reported">Total Number of Incident Reported</option>
                                        </select>
                                    </div>

                              {# --- 'Sort By' Dropdown Field ---#}
                              <label class="col-sm-1">Sort By</label>
                                    <div class="col-sm-4">
                                        <select onchange="iftimeslot(this);" placeholder="please select" class="form-control" name="data_type" name="data_type" type="text" >
                                        <option selected="selected">Select a period</option>
                                        <option value="By Month">By Month</option>
                                        <option value="By Week">By Week</option>
                                        <option value="By Day">By Day</option>
                                        <option value="By Timeslot">By Timeslot</option>
                                        </select>
                                     </div>
                          </div>


                        {# -------------- Display div when 'select by month' is chosen --------------#}
                          <div id="select_date1"  name="select_date1" class="form-group col-lg-12" style="display: none;">

                              {# --- Calendar field for 'Starting Month' ---#}
                              <label class="col-sm-2" for="start_date">From</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" name='datetimepicker1' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                              {# --- Calendar Field for 'Ending Month' ---#}
                             <label class="col-md-1" for="end_date">To</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control"  name='datetimepicker2' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                          </div>

                      {# -------------- Display div when 'select by week' is chosen --------------#}
                      <div id="select_date2" name="select_date2" class="form-group col-lg-12" style="display: none;">

                            {# --- Calendar field for 'Start of Week (Monday)' ---#}
                              <label class="col-sm-2" for="start_date">From</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker3'>
                                            <input type='text' class="form-control"  name='datetimepicker3'/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                            {# --- Calendar field for 'Start of Week (Friday)' ---#}
                             <label class="col-md-1" for="end_date">To</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker4'>
                                            <input type='text' class="form-control"  name='datetimepicker4' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                       </div>


                     {# -------------- Display div when 'select by day' is chosen --------------#}
                      <div id="select_date3" name="select_date3" class="form-group col-lg-12" style="display: none;">

                              {# --- Calendar field for 'Start Date' --- #}
                              <label class="col-sm-2" for="start_date">From</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker5'>
                                            <input type='text' class="form-control" name='datetimepicker5' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                             {# --- Calendar field for 'End Date' --- #}
                             <label class="col-md-1" for="end_date">To</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker6'>
                                            <input type='text' class="form-control"  name='datetimepicker6'/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                       </div>

                      {# -------------- Display div when 'select by timeslot' is chosen --------------#}
                      <div id="select_date4" name="select_date4" class="form-group col-lg-12" style="display: none;">

                              {# --- Calendar field for 'Start Date' --- #}
                              <label class="col-sm-2" for="start_date">From</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker7'>
                                            <input type='text' class="form-control" name='datetimepicker7' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                             {# --- Calendar field for 'End Date' --- #}
                             <label class="col-md-1" for="end_date">To</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker8'>
                                            <input type='text' class="form-control"  name='datetimepicker8' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                       </div>

                        <div id="select_time" name="select_time" class="form-group col-lg-12" style="display: none;">

                            {# --- Calendar field for 'Start Time' --- #}
                            <label class="col-sm-2" for="start_date">Start Time</label>
                                <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker9'>
                                            <input name="start_time" type='text' class="form-control"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>

                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker9').datetimepicker({
                                                    format: 'LT',
                                                    stepping: 30
                                                });
                                            });
                                        </script>
                                </div>

                            {# --- Calendar field for 'End Time' --- #}
                            <label class="col-md-1" for="end_date">End Time</label>
                                <div class="col-md-4">
                                        <div class='input-group date' id='datetimepicker10'>
                                            <input name="end_time" type='text' class="form-control"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>

                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker10').datetimepicker({
                                                    format: 'LT',
                                                    stepping: 30
                                                });
                                            });
                                        </script>
                                </div>
                        </div>

                              <input type="submit" class="btn btn-primary btn-md pull-right" value="Filter"/>

                          </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{# --- Display data using bar chart if there is data --- #}
{% if dataTitle %}
    <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">{{ dataTitle }}{{ dataType }} {{ start }} {{ end }}</div>

                    <div class="panel-body">

						<div class="canvas-wrapper">
							<canvas class="main-chart" id="alerts" height="400" width="800"></canvas>
                            <script>
                             var barData = {

                                 labels : {{ labels | safe }},
                                    datasets : [

                                        {
                                            fillColor : "rgba(48, 164, 255, 0.2)",
                                            strokeColor : "rgba(48, 164, 255, 0.8)",
                                            highlightFill : "rgba(48, 164, 255, 0.75)",
                                            highlightStroke : "rgba(48, 164, 255, 1)",
                                            data: {{ dataList | safe }}

                                        }
                                    ]
                            }
                             var alerts = document.getElementById("alerts").getContext("2d");
                             new Chart(alerts).Bar(barData);


                            </script>

						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
{% endif %}
    </div>


{# --- Javascript to display calendar fields when 'sort by' field is specified --- #}
     <script>
        function iftimeslot(that) {

            if(that.value == "By Month"){

                document.getElementById("select_date1").style.display = "block";
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        viewMode: 'months',
                        format: 'MM/YYYY',
                        maxDate: new Date()

                    });
                    $('#datetimepicker2').datetimepicker({
                        viewMode: 'months',
                        format: 'MM/YYYY',
                        useCurrent: false, //Important!
                        maxDate: new Date()

                    });

                    $("#datetimepicker1").on("dp.change", function (e) {
                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker2").on("dp.change", function (e) {
                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                    });

                });

            }else {
                document.getElementById("select_date1").style.display = "none";
            }

            if(that.value == "By Week"){
                document.getElementById("select_date2").style.display = "block";
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                        format: 'DD/MM/YYYY',
                        daysOfWeekDisabled:[0,2,3,4,5,6]
                    });
                    $('#datetimepicker4').datetimepicker({
                        format: 'DD/MM/YYYY',
                        useCurrent: false, //Important!
                        daysOfWeekDisabled:[0,1,2,3,4,6]
                    });

                    $("#datetimepicker3").on("dp.change", function (e) {
                    $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker4").on("dp.change", function (e) {
                    $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
                    });

                });

            }else {
                document.getElementById("select_date2").style.display = "none";
            }

            if(that.value == "By Day"){
                document.getElementById("select_date3").style.display = "block";
                $(function () {
                    $('#datetimepicker5').datetimepicker({
                       format: 'DD/MM/YYYY',
                        maxDate: new Date()

                    });
                    $('#datetimepicker6').datetimepicker({
                        format: 'DD/MM/YYYY',
                        useCurrent: false, //Important!
                        maxDate: new Date()
                    });

                    $("#datetimepicker5").on("dp.change", function (e) {
                    $('#datetimepicker6').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker6").on("dp.change", function (e) {
                    $('#datetimepicker5').data("DateTimePicker").maxDate(e.date);
                    });

                });

            }else {
                document.getElementById("select_date3").style.display = "none";
            }


            if (that.value == "By Timeslot") {
{#                alert("check");#}
                document.getElementById("select_date4").style.display = "block";
                document.getElementById("select_time").style.display = "block";
                $(function () {
                    $('#datetimepicker7').datetimepicker({
                       format: 'DD/MM/YYYY',
                        maxDate: new Date()
                    });
                    $('#datetimepicker8').datetimepicker({
                        format: 'DD/MM/YYYY',
                        useCurrent: false, //Important!
                        maxDate: new Date()
                    });

                    $("#datetimepicker7").on("dp.change", function (e) {
                    $('#datetimepicker8').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker8").on("dp.change", function (e) {
                    $('#datetimepicker7').data("DateTimePicker").maxDate(e.date);
                    });
                });

            } else {
                document.getElementById("select_date4").style.display = "none";
                document.getElementById("select_time").style.display = "none";
            }

        }

{#Javascript to dropdown settings menu upon hover#}

     $(function(){
    $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            });
    });
    </script>

{% endblock %}