<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
{#<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>#}
<link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

{% extends "web/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}
Dashboard
{% endblock %}

{% block display_title %} Incident Report {% endblock %}

{% block current_page %}{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}{% endblock %}
{% block page3 %}{% endblock %}
{% block page4 %}active{% endblock %}
{% block page5 %}{% endblock %}

{#<script src="{% static 'js/moment-with-locales.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'js/jquery-3.1.0.js' %}"></script>#}
{#<link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet">#}


{% block content %}
<br>
<br>
<div class="row">


    {% if incidentReported %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="alert alert-success" role="alertdialog">
            <strong><center>Incident Report has been Submitted!</center></strong>
        </div>
    </div>
    {% endif %}


			<div class="col-md-12">

                <div class="panel panel-default">

                    <div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg>Report An Incident</div>
                    <div class="panel-body">

                        <form action="/incident_reporting_process/" method="post">{% csrf_token %}
							<fieldset>
                                 <br>
                                 <br>
								<!-- Name input-->
								<div class="form-group">

									<label class="col-md-3 control-label" for="name">Name of Client</label>
									<div class="col-md-9">
									<input id="clientName" name="clientName" type="text" placeholder="" class="form-control">
									</div>
								</div>
                                <br>
                                 <br>
								<!-- Email input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="email">Name of Caregiver</label>
									<div class="col-md-9">
										<input id="caregiverName" name="caregiverName" type="text" placeholder="" class="form-control">
									</div>
								</div>
                                 <br>
                                 <br>
                                <div class="form-group">
									<label class="col-md-3 control-label" for="email">Reported By</label>
									<div class="col-md-9">
										<input id="authorName" name="authorName" type="text" placeholder="" class="form-control">
									</div>
								</div>
                                 <br>
                                 <br>
                                <div class="form-group">
									<label class="col-md-3 control-label" for="email">Date and Time </label>
{#									<div class="col-md-9">#}
{#										<input id="datetimepicker4" name="datetime" type="text" placeholder="" class="form-control">#}
{#                                            <script type="text/javascript">#}
{#                                                $(function () {#}
{#                                                    $('#datetimepicker4').datetimepicker();#}
{#                                                });#}
{#                                            </script>#}
{#									</div>#}

                                    <div class="container">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' id="datetime" name="datetime" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                $(function () {
                                                    $('#datetimepicker1').datetimepicker();
                                                });
                                            </script>
                                        </div>
                                    </div>


								</div>

                                 <br>
                                 <br>
								<!-- Message body -->
								<div class="form-group">
									<label class="col-md-3 control-label" for="message">What has happened?</label>
									<div class="col-md-9">
										<textarea class="form-control" id="comments" name="comments" placeholder="Please enter your message here..." rows="5"></textarea>
									</div>
								</div>

                                 <br>
                                 <br>
								<!-- Form actions -->
								<div class="form-group">
									<div class="col-md-12 widget-right">
										<button type="submit" class="btn btn-default btn-md pull-right">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>


					</div>
				</div>
            </div>
<div>

<script>

    $('.alert-success').delay(3000).fadeOut();

{#    $('#datetimepicker').datetimepicker({#}
{#    minDate: moment()#}
{#    });#}

</script>

{% endblock %}


