{% extends "web/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}
Dashboard
{% endblock %}

{% block display_title %} Dashboard {% endblock %}

{% block current_page %}{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}{% endblock %}
{% block page3 %}active{% endblock %}

{% block content %}
<br>
<br>
<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg>Alert Report</div>
					<div class="panel-body">
						<form action="" method="post">
							<fieldset>
                                 <br>
                                 <br>
								<!-- Name input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Name of Client</label>
									<div class="col-md-9">
									<input id="elderly" name="name" type="text" placeholder="" class="form-control">
									</div>
								</div>
                                <br>
                                 <br>
								<!-- Email input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="email">Name of Caregiver</label>
									<div class="col-md-9">
										<input id="caregiver" name="caregiver" type="text" placeholder="" class="form-control">
									</div>
								</div>
                                 <br>
                                 <br>
                                <div class="form-group">
									<label class="col-md-3 control-label" for="email">Date and Time </label>
									<div class="col-md-9">
										<input id="date" name="date" type="datetime-local" placeholder="" class="form-control">
									</div>
								</div>

                                 <br>
                                 <br>
								<!-- Message body -->
								<div class="form-group">
									<label class="col-md-3 control-label" for="message">Reason</label>
									<div class="col-md-9">
										<textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
									</div>
								</div>

                                 <br>
                                 <br>
								<!-- Form actions -->
								<div class="form-group">
									<div class="col-md-12 widget-right">
										<button type="submit" class="btn btn-default btn-md pull-right">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>




{% endblock %}