<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.12/datatables.min.js"></script>


{% extends 'web/base.html' %}
{% load staticfiles %}
{% load url from future %}


{% block current_page %}{% endblock %}
{% block page1 %}active{% endblock %}
{% block page2 %}{% endblock %}
{% block page3 %}{% endblock %}
{% block page4 %}{% endblock %}
{% block page5 %}{% endblock %}

{% block content %}

        <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">

                        <div class="panel-heading">Incident Reports Table</div>
					<div class="panel-body">

						<table id="data-table" class="table" data-toggle="table" data-show-refresh="false" data-sort-name="Sensor ID" data-sort-order="asd">

                          <!-- #modal 1 -->
                        <div id="renamesensor" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Rename Sensor</h4>
                              </div>

                              <div class="modal-body">
                               <form action="//" method="post">{% csrf_token %}
                                  <fieldset>
                                  <div class="form-group">
                                        <label>Select Sensor ID</label>
                                        <select class="form-control" name="wearableName" type="text">

                                            <script>
                                                wearableNamesArrayLength = {{wearableNames|safe}}.length
                                                for (i = 0; i < wearableNamesArrayLength; i++) {
                                                    document.write("<option>" + {{wearableNames|safe}}[i][0] + "</option>");
                                                }
                                            </script>
                                        </select>
                                  </div>

                                  <div class="form-group">
                                    <label>Enter new sensor ID</label>
								    <input class="form-control" placeholder="Name" name="assignee" type="text">
                                  </div>

                                  <input type="submit" class="btn btn-primary" value="Assign"/>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                                  </fieldset>
                               </form>
                              </div>
                            </div>
                          </div>
                        </div>



                            <br>
						      <thead>
						    <tr>
                               <th>Sensor ID</th>
                               <th>Usage</th>
                               <th>Location</th>
                               <th>Battery</th>
                               <th>Actions</th>
{#                               <th>Last Updated</th>#}
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div>

      <script>

     var data = {{ dataSet|safe }}

          $('#data-table').DataTable( {
            data: data,
              "searching": false,
              paging: false
            } );


      $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';

						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });

						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];

						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }


      </script>
    <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}

