{% extends "web/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}


<p>Click the button to display an alert box:</p>

<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
    alert("Someone is trying to stand!");
}
</script>

<script type="text/javascript">
  var timeout = setTimeout("location.reload(true);",1000);
  function resetTimeout() {
    clearTimeout(timeout);
    timeout = setTimeout("location.reload(true);",1000);
  }
</script>

{% endblock content %}
