{% extends 'web/base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Sensor Management{% endblock %}

{% block display_title %}Sensor Management {% endblock %}

{% block current_page %}{% endblock %}
{% block page1 %}active{% endblock %}
{% block page2 %}{% endblock %}
{% block page3 %}{% endblock %}

{% block content %}

        <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Advanced Table</div>
					<div class="panel-body">
						<table data-toggle="table" data-url="{% static 'tables/data1.json' %}"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
						    <tr>
{#						        <th data-field="state" data-checkbox="true" >Checkbox</th>#}
						        <th data-field="id" data-sortable="true">ID</th>
						        <th data-field="status"  data-sortable="true">Status</th>
						        <th data-field="location" data-sortable="true">Location</th>
                                <th data-field="battery" data-sortable="true">Battery</th>
                                <th data-field="action_required" data-sortable="true">Actions required</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div>
      <script>
						    $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';

						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });

						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];

						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }
						</script>

{% endblock %}

