{% extends 'web/base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Wearable Management{% endblock %}
{% block display_title %} Wearable Management {% endblock %}

{% block current_page %}{% endblock %}
{% block page1 %}{% endblock %}
{% block page2 %}active{% endblock %}
{% block page3 %}{% endblock %}

{% block content %}

        <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">

					<!--<div class="panel-heading">Advanced Table</div>-->
					<div class="panel-body">

						<table id="data-table" class="table" data-toggle="table" data-sort-name="Sensor ID" data-sort-order="asd">
						    <thead>
						    <tr>
                               <th>Sensor ID</th>
                               <th>Usage</th>
                               <th>Location</th>
                               <th>Battery</th>
                               <th>Actions</th>
						    </tr>
						    </thead>
						</table>
					</div>
				<!--</div>-->
			</div>
		</div>

      <script>

     var data = {{ dataSet|safe }}

          $('#data-table').DataTable( {
            data: data,
            "searching": false,
              paging: false
            } );


      $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';

						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });

						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];

						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }


      </script>

{% endblock %}

